@model DESAFIO.MVC.DTO.ModuleDTO

<h3>Edit Module</h3>
<hr>

<form class="form-horizontal" asp-controller="Modules" asp-action="Update" method="POST">
    <input type="hidden" asp-for="Id">

    <label asp-for="Name">Name</label><br>
    <span asp-validation-for="Name"></span>
    <input type="text" class="form-control" asp-for="Name" placeholder="Technology name"><br>
     
    <button class="btn btn-success">Update</button>
    <a class="btn btn-primary" href="/Management/Modules">Back</a>  
</form>